/* Start Global Rules */

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	     -o-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background-image: url('../Images/Image.png'), url('../Images/Background.png');
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	    -ms-background-size: cover;
	        background-size: cover;
	height:100%
}

.container {
	width:1368px;
	margin:auto;
	position: relative
}

/* End Global Rules */

/* Start Framework */

.upper {text-transform:uppercase}

@font-face {
	font-family: 'MADE Tommy Soft';
	src: url('../fonts/MADETommySoft-Medium.ttf')
}

/* End Framework */

/* Start Header */

.header .navbar {
	overflow: hidden;
}

.header .navbar .logo {
	float:left;
	margin-top:40px
}

.header .navbar .logo img {
	width: 110px
}

.header .navbar .links {
	float: right;
	margin-top:40px;
	font-family: 'MADE Tommy Soft';
}

.header .navbar .links li {
	display: inline-block;
    color: #FFF;
    font-size: 20px;
    margin-right: 30px;
	margin-top: 30px;
}

.header .navbar .links li:last-child {
	margin-right:0
}

/* End Header */

/* Start Text */

.text {
	padding: 100px 0;
	overflow: hidden
}

.text .titles {
	float: left;
	width: 300px
}

.text .discount {
	float: right;
	width: 295px;
	text-align: right;
	padding: 55px 0;
}

.text .titles,
.text .discount .dis {
	color: #FFF;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}

.text .titles h2 {
	font-size: 25px;
	margin-bottom: 5px;
	font-weight: bold
}

.text .titles h1 {
	font-size: 55px;
	margin-top: 0
}

.text .titles span {
	font-weight: bold;
	font-size: 19px
}

.text .titles i {
	margin-left: 9px;
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
}

.text .discount .dis {
	font-size: 25px;
	font-weight: bold;
	line-height: 1.4;
}

.text .discount p {
	color: #FFF;
	font-size: 19px;
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
}

/* End Text */

/* Start Footer */

.footer {
	overflow: hidden;
	padding-top: 70px
}

.footer .website span {
	float:left;
	color: #FFF;
	font-weight: 600;
	font-size: 18px
}

.footer .social-icons {
	float: right;
}

.footer .social-icons i {
	color: #060923;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
	margin-right: 5px
}

/* End Footer */












